:root {
  --color-primary: var(--el-color-primary);
  --color-white: var(--el-color-white);
  --color-black: var(--el-color-black);
  --bg-color: var(--el-bg-color);
  --bg-color-page: var(--el-bg-color-page);
  --border-color: var(--el-border-color);
}