
:root {
  
  .el-drawer {
    --el-drawer-padding-primary: 16px;
    &__header {
      margin-bottom: 0;
      padding: 13px 16px;
      border-bottom: 1px solid var(--el-border-color-lighter);
      
    }
    &__title {
      @apply text-tx-primary;
    }
  }
  
  .el-table {
    --el-table-header-text-color: var(--el-text-color-primary);
    --el-table-header-bg-color: var(--table-header-bg-color);
    font-size: var(--el-font-size-base);
  
    thead {
      th {
        font-weight: 400;
      }
    }
  }
  
  .el-input-group__prepend {
    background-color: var(--el-fill-color-blank);
  }
  
  .el-checkbox {
    --el-checkbox-font-size: var(--el-font-size-base);
  }  
}
