
:root {

  // 弹窗居中
  .el-overlay-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 1000px;
    min-height: 100%;
    position: static;
    overflow: hidden;

    .el-dialog {
      --el-dialog-content-font-size: var(--el-font-size-base);
      flex: none;
      display: flex;
      flex-direction: column;
      margin: 20px !important;
      border-radius: 5px;

      &.body-padding .el-dialog__body {
        padding: 0;
      }

      .el-dialog__body {
        flex: 1;
        padding: 15px 20px;
      }
    }
  }

  .el-drawer {
    --el-drawer-padding-primary: 16px;
    &__header {
      margin-bottom: 0;
      padding: 13px 16px;
      border-bottom: 1px solid var(--el-border-color-lighter);
      
    }
    &__title {
      @apply text-tx-primary;
    }
  }
  
  .el-table {
    --el-table-header-text-color: var(--el-text-color-primary);
    --el-table-header-bg-color: var(--table-header-bg-color);
    font-size: var(--el-font-size-base);
  
    thead {
      th {
        font-weight: 400;
      }
    }
  }
  
  .el-input-group__prepend {
    background-color: var(--el-fill-color-blank);
  }
  
  .el-checkbox {
    --el-checkbox-font-size: var(--el-font-size-base);
  }  
  .el-dialog__header {
    @apply border-b border-br;
  }
  .el-dialog__footer {
    @apply border-t border-br;
  }
}
