APP_DEBUG=true[APP]DEFAULT_TIMEZONE=Asia/ShanghaiAPP_NAME=mylikeadminAPP_ENV=localAPP_URL=http://mylikeadmin.cc[DATABASE]TYPE=mysqlHOSTNAME=127.0.0.1DATABASE=testUSERNAME=usernamePASSWORD=passwordHOSTPORT=3306CHARSET=utf8DEBUG=truePREFIX=la_[LANG]default_lang=zh-cn[PROJECT]UNIQUE_IDENTIFICATION=likeadmin# 演示环境DEMO_ENV=false#开启redis缓速[CACHE]host="127.0.0.1"password=123456driver=redis[REDIS]host="127.0.0.1"port=6379password=123456