:export {
    /* 主题颜色 */
    color_primary: $color-primary;
    color_success: $color-success;
    color_warning: $color-warning;
    color_danger: $color-danger;
    color_ingo: $color-info;

    /* 字体颜色 */
    font_color_primary: $color-text-primary;
    font_color_regular: $color-text-regular;
    font_color_secondary: $color-text-secondary;
}
