/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
input,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td {
    font-family: PingFang SC, Arial, Hiragino Sans GB, Microsoft YaHei, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 初始化页面 */
body {
    font-size: $font-size-base;
    background-color: $background-color-base;
    color: $color-text-primary;
    overflow-y: hidden;
    overflow-x: auto;
    line-height: 1.3;
}

input::placeholder {
    color: $color-text-placeholder;
}

/* NProgress */
#nprogress .bar {
    background: $color-primary !important; //自定义颜色
}
