@import '@/uni_modules/vk-uview-ui/theme.scss';

$u-main-color: #333333;
$u-content-color: #666666;
$u-tips-color: #999999;
$u-light-color: #c0c4cc;
$u-border-color: #e5e5e5;
$u-bg-color: #f3f4f6;
$u-disabled-color: #c8c9cc;

$u-type-primary: #4173ff;
$u-type-primary-light: #ecf5ff;
$u-type-primary-disabled: #a0cfff;
$u-type-primary-dark: #2b85e4;

$u-type-warning: #ff9900;
$u-type-warning-disabled: #fcbd71;
$u-type-warning-dark: #f29100;
$u-type-warning-light: #fdf6ec;

$u-type-success: #19be6b;
$u-type-success-disabled: #71d5a1;
$u-type-success-dark: #18b566;
$u-type-success-light: #dbf1e1;

$u-type-error: #fa3534;
$u-type-error-disabled: #fab6b6;
$u-type-error-dark: #dd6161;
$u-type-error-light: #fef0f0;

$u-type-info: #909399;
$u-type-info-disabled: #c8c9cc;
$u-type-info-dark: #82848a;
$u-type-info-light: #f4f4f5;

$u-form-item-height: 60rpx;
$u-form-item-border-color: #e5e5e5;
